<ion-view view-title="Login" cache-view="false">
    <ion-content class="login-bg">
        <div class="login-box-con">
            <div class="login-top-icon">
                <img src="img/logo.png">
            </div>
            <div class="login-box-input">
                <div class="list list-inset">
                    <form name="loginForm" id="loginForm" ng-submit="login(loginForm.$valid)" novalidate>
                        <label class="item item-input">
                            <input type="email" class="form-control" id="User_Email" name="User_Email"   placeholder="Email ID" ng-model="loginData.User_Email" required >
                        </label>
                        <div class="" ng-class="{'has-error': loginForm.User_Email.$invalid && submitted}">
                                <span ng-show="submitted && loginForm.User_Email.$error.required" class="validation-login popup-forvalidation">Please enter email ID</span>
                                <span ng-show="submitted && loginForm.User_Email.$error.email" class="validation-login popup-forvalidation">Please enter valid email ID.</span>
                        </div>
                        <label class="item item-input">
                            <input type="password" id="password" class="form-control" name="User_Password" placeholder="Password" ng-model="loginData.User_Password"  required>
                        </label>
                        <div class="form-group box-shadow password-div-loged" ng-class="{'has-error': loginForm.User_Password.$invalid && submitted}">
                            
                            <span ng-show="submitted && loginForm.User_Password.$error.required" class="validation-login popup-forvalidation correct-password-login-error">Please enter password</span>
                            </div>
                        <!--<span class="forgot"><a href="#/forgot">Forgot Password?</a></span>-->
                        <input type="submit"  value="Login" class=" login-button btn" ng-click="submitted = true">
                    </form>

                </div>
                <h4> <a href="javascript:;" ng-click="signup()">If you are new to here</a></h4>

            </div>
        </div>


    </ion-content>
</ion-view>
