<ion-view view-title="Form" cache-view="false">

    <div class="bar bar-header bar-light">
        <ion-nav-bar>
<!--            <ion-nav-back-button>
            </ion-nav-back-button>-->
            <h1 class="title">Form</h1>
            <ion-nav-buttons side="right">
                <button class="button button-clear button-positive" ng-click="logout()">
                    <i class="ion-log-out"></i> 
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
    </div>
    <ion-content>
        <div class="myform-box-con">
            <a class="add-btn" href="#/new_form"><h4><i class="ion-ios-plus"></i> ADD</h4></a>
            <ul class="list">
                <li class="item" ng-repeat="temp in data">
                    <a href="#/addForm/{{temp.Template_Id}}">
                        <h4>{{temp.Template_Name}}</h4>
                        <p>{{temp.Template_Create_Datetime}}</p>
                    </a>
                    <span><a href="javascript:;"><img src="img/doc_icon.png"></a></span>
                </li>
            </ul>
        </div> 
    </ion-content>
</ion-view>
