<ion-view view-title="Sign Up">
  <ion-content class="login-bg">
     <div class="login-box-con">
      <div class="login-top-icon login-top-icon2">
      	<img width="80px" src="img/logo.png">
      </div>
      <div class="login-box-input">
     	<div class="list list-inset">
			  <form action="#/enter_pin">
			  	<label class="item item-input">
			    <input type="text" placeholder="User Name">
			  </label>
			  <label class="item item-input">
			    <input type="email" placeholder="Email">
			  </label>
			  <label class="item item-input">
			    <input type="password" placeholder="Password">
			  </label>
			  <label class="item item-input">
			    <input type="password" placeholder="Confirm Password">
			  </label>		   
			    <input type="submit"  value="Sign Up" class=" login-button btn">
			  </form>
			  
		</div>
		<h4>If you are new to <a href="#/login">here</a></h4>
     </div>
     </div>

     
  </ion-content>
</ion-view>
