<ion-view view-title="My Template">
  
  <div class="bar bar-header bar-light">
	  <ion-nav-bar>
		  <ion-nav-back-button>
		  </ion-nav-back-button>
		  <h1 class="title">My Template</h1>
	  </ion-nav-bar>
  </div>
   <ion-content>
     <div class="myform-box-con">
         <ul class="list">
		    <li class="item">
		      <h4>Template1</h4>
		      <span><a href=""><img src="img/doc_icon.png"></a></span>
		    </li>
		    <li class="item">
		      <h4>Template2</h4>
		      <span><a href=""><img src="img/doc_icon.png"></a></span>
		    </li>
		    <li class="item">
		      <h4>Template3</h4>
		      <span><a href=""><img src="img/doc_icon.png"></a></span>
		    </li>
		    <li class="item">
		      <h4>Template4</h4>
		      <span><a href=""><img src="img/doc_icon.png"></a></span>
		    </li>
		    <li class="item">
		      <h4>Template5</h4>
		      <span><a href=""><img src="img/doc_icon.png"></a></span>
		    </li>
		    <li class="item">
		      <h4>Template6</h4>
		      <span><a href=""><img src="img/doc_icon.png"></a></span>
		    </li>
		    <li class="item">
		      <h4>Template7</h4>
		      <span><a href=""><img src="img/doc_icon.png"></a></span>
		    </li>
		    <li class="item">
		      <h4>Template8</h4>
		      <span><a href=""><img src="img/doc_icon.png"></a></span>
		    </li>
		    <li class="item">
		      <h4>Template9</h4>
		      <span><a href=""><img src="img/doc_icon.png"></a></span>
		    </li>
		 </ul>
     </div> 
   </ion-content>
</ion-view>
