<ion-modal-view class="modal-half">
	<h3>Mecanismo:{{productdetail.detail[0].mecanismo_nombre}}</h3>
	
		<ion-scroll direction="x" class="catScroll" >
						<iframe ng-if="productdetail.detail.tipoMecanismo==='v'" width="400" height="315" ng-src="{{trustSrc(productdetail.detail.datoMecanismo[0].path)}}" frameborder="0" allowfullscreen></iframe>
				     <img ng-if="productdetail.detail.tipoMecanismo==='f'" width="400" class="" ng-src="{{trustSrc(productdetail.detail.datoMecanismo[0].path)}}">
		</ion-scroll>
</ion-modal-view>

